@import url(reset.css);


html{
  font-size:0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

#mobileVersion{
  display: none;
}


/* top layer */
#windowPath{
/*  animation: animationPathFinal 0.5s cubic-bezier(0.12, 0, 0.39, 0) 0s 1 forwards;*/
/*  animation-delay: 0.5s;*/
  pointer-events: fill;
}

@keyframes animationPathFinal{
  0%{
    d: path("M575 0H0V1117H575V0ZM287.5 453C254.087 453 227 480.087 227 513.5V553.5C227 586.913 254.087 614 287.5 614C320.913 614 348 586.913 348 553.5V513.5C348 480.087 320.913 453 287.5 453Z");
  }

  100%{
    d: path("M575 0H0V1117H575V0ZM288 224C145.511 224 30 339.511 30 482V653C30 795.489 145.511 911 288 911C430.489 911 546 795.489 546 653V482C546 339.511 430.489 224 288 224Z");
  }
}

.container{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: safe center;
  align-items: center;
  position: absolute;

  z-index: 5;
  pointer-events: none;
}

.vertical{
  height: 100vh;
  width: calc(calc(100vw - 575px)/2);

  background-color: rgba(236, 236, 236, 0.97);
  position: absolute;

  pointer-events: auto;
}

#left{
  left: 0;
}

#right{
  right: 0;
}


/* bottom layer */
.image-container{
  overflow: scroll;
  position: relative;

  height: 800px;
  width: 640px ;

  background-image: url("../t-shirt.jpg");
  background-size: contain;

  transition: 0.4s ease-in;
  cursor: pointer;
}

#mydiv {
  position: absolute;
  transform:scale(0.8);
  transition: transform 0.4s ease-in
}

@media screen and (max-width: 600px) {

  html, body{
    overflow: hidden;
  }
  body {
    position: relative;
/*    background-color: rgba(236, 236, 236, 0.97);*/

  }
/*        <svg id="afterWindow" height="100vh" viewBox="0 0 575 1117" fill="red" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="None">
         <path id="windowPath" fill-rule="evenodd" clip-rule="evenodd" d="M575 0H0V1117H575V0ZM287.5 453C254.087 453 227 480.087 227 513.5V553.5C227 586.913 254.087 614 287.5 614C320.913 614 348 586.913 348 553.5V513.5C348 480.087 320.913 453 287.5 453Z" fill="#ECECEC" fill-opacity="0.97"/>
      </svg>*/
  #windowPath{

    height: 100vh;

    d: path("M393 0H0V852H393V0ZM150 67C76.5461 67 17 126.546 17 200V701C17 774.454 76.5461 834 150 834H243C316.454 834 376 774.454 376 701V200C376 126.546 316.454 67 243 67H150Z");
  }

  #mobileVersion{
    display: inline-block;
/*    background-color: blue;*/

  }

  #afterWindow{
    display: none;
  }

  .image-container{
    width: 200px;
    height: 300px;
    background-image: none;
    background-color: black;
  }

  .horizontal{
    height: 12.5%;
    width: 100%;
    background-color: rgba(236, 236, 236, 0.97);
    position: absolute;

    pointer-events: auto;
  }

  #bottom{
    bottom: 0;
  }

  #top{
    top: 0;
  }


}




